@media all and (max-width: 1439px) and (min-width: 1024px) {
  #wrap {
    width: 100%;
    overflow: hidden;
  }

  #main {
    width: 100%;
    overflow: hidden;
  }

  /* header */

  #header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  #ham {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  #ham:hover .main_menu {
    display: block;
  }

  #cancel {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  #logo {
    width: 200px;
    height: 30px;
    position: absolute;
    top: 30px;
    left: 100px;
    cursor: pointer;
  }

  #main_menu_bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 80px;
    display: none;
  }

  #right_menu {
    width: 160px;
    height: 30px;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
  }

  #right_menu li {
    width: 30px;
    height: 30px;
  }

  #m_right_menu {
    display: none;
  }

  /* main동영상 */

  #video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  #video > video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  /* 본문내용 */

  #sec1 {
    width: 100%;
    overflow: hidden;
    display: flex;
  }

  #sec1_left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
  }

  #sec1_left > h1 {
    font-size: 25px;
    margin: 20px 0;
  }

  #sec1_left > p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
  }

  .sec12btn {
    width: 110px;
    height: 30px;
    color: #81d8d0;
    border: 2px solid #81d8d0;
    margin-bottom: 30px;
  }

  .sec12btn:hover {
    width: 110px;
    height: 30px;
    background-color: #81d8d0;
    color: #fff;
    font-weight: 900;
  }

  #sec1_right {
    width: 50%;
    height: 100vh;
    display: flex;
    background-image: url(../img/1.webp);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 50%;
  }

  #sec2 {
    width: 100%;
    overflow: hidden;
    display: flex;
  }

  #sec2_left {
    width: 50%;
    height: 100vh;
    background-image: url(../img/2.webp);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 50%;
  }

  #sec2_right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
  }

  #sec2_right > h1 {
    font-size: 25px;
    margin: 20px 0;
  }

  #sec2_right > p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
  }

  #sec3 {
    width: 100%;
    overflow: hidden;
  }

  #sec3 > p {
    display: none;
  }

  #sec3_swiper {
    width: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  .swiper-slide {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .sec3_h3 {
    text-align: center;
    margin: 20px 0;
  }

  .sec3_txt {
    text-align: center;
    padding-bottom: 10%;
  }

  #sec3_swiperstory {
    text-align: center;
    margin-bottom: 20px;
  }

  #sec3_story {
    display: none;
  }

  #sec4 {
    width: 100%;
    height: 35vh;
    color: #fff;
    background-image: url(../img/6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: relative;
  }

  #sec4_wrap {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #sec4_wrap h3 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  #sec4_wrap p {
    font-size: 16px;
    text-align: center;
  }

  .sec4btn {
    width: 130px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    margin-left: 40px;
    color: #81d8d0;
    background-color: #fff;
    border: 2px solid #81d8d0;
    transition-duration: 0.5s;
    cursor: pointer;
  }

  .sec4btn:hover {
    background-color: #81d8d0;
    color: #fff;
    font-weight: bold;
  }

  #m_sec4_wrap {
    display: none;
  }

  /* footer */

  footer {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background-color: #252424;
    padding: 24px 0;
  }

  #footer_align {
    width: 80%;
    margin: 0 auto;
  }

  #footer_top {
    width: 100%;
    height: 48px;
    line-height: 48px;
    position: relative;
    border-bottom: 1px solid #81d8d0;
    margin-bottom: 20px;
  }

  #footer_top img {
    width: 30%;
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  #footer_center {
    width: 100%;
    overflow: hidden;
    display: flex;
  }

  #footer_left {
    width: 50%;
    display: flex;
    justify-content: start;
  }

  #footer_left ul p {
    font-size: 16px;
    font-weight: bold;
    color: #81d8d0;
    margin-bottom: 10px;
  }

  #footer_left li a {
    font-size: 14px;
    margin-top: 10px;
  }

  .footer_left1 {
    margin-right: 30px;
  }

  #footer_right {
    width: 50%;
    height: 100%;
    position: relative;
  }

  #footer_right_new {
    width: 100%;
    height: 50%;
    text-align: center;
  }

  #footer_right_new > h5 {
    color: #81d8d0;
    font-size: 16px;
    margin-bottom: 10px;
  }

  #footer_right_new > p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
  }

  #footer_btn {
    width: 105px;
    height: 20px;
    line-height: 20px;
    border: none;
    cursor: pointer;
  }

  #footer_btn:hover {
    font-weight: bold;
    background-color: #81d8d0;
  }

  #footer_right_sns {
    width: 30%;
    height: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #footer_right_sns img {
    width: 25px;
    height: 25px;
  }

  #footer_bottom {
    font-size: 16px;
    text-align: center;
    color: #fff;
  }

  /* 히든 메뉴 */

  .main_menu {
    width: 20%;
    height: 100px;
    margin-left: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
  }

  .on {
    color: #81d8d0;
  }

  .main_menu > a {
    color: #fff;
    font-size: 20px;
    font-weight: 900;
  }

  .main_menu > a:hover {
    color: #81d8d0;
  }

  .sub_menu {
    width: 30%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 300px;
    margin-top: 80px;
    display: none;
    font-weight: 500;
    color: #fff;
  }

  #sub1 {
    display: none;
  }

  .sub_menu > li {
    margin-bottom: 20px;
  }

  .sub_menu a:hover {
    color: #81d8d0;
  }

  .sub_size {
    font-size: 18px;
    font-weight: 700;
    color: #81d8d0;
  }
}
